# Ignore all files in the Kitty directory
Kitty/
highimg/*
sdImg/*

# Typical files to ignore for applications
*.log
*.tmp
*.bak
*.swp
*.DS_Store
Thumbs.db
node_modules/
dist/
build/
.env
.idea/
.vscode/
*.iml
*.class
*.jar
*.war
*.ear
*.pyc
__pycache__/
*.o
*.obj
*.dll
*.exe
*.out
*.so
*.a
*.lib
*.pdb
*.idb
*.DS_Store
*.dSYM
*.lock
*.pid
*.seed
*.cover
*.orig
*.rej
*.sublime-project
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?